layout {
	default_tab_template {
		pane size=1 borderless=true {
			plugin location="zellij:tab-bar"
		}

		children

		pane size=2 borderless=true {
			plugin location="zellij:status-bar"
		}

		pane size=1 borderless=true {
			command "fish"
			args "-c" "infobar"
		}
	}

	tab name="1: Search "{
		pane {
			command "fish"
			args "-c" "ddg"
		}
	}


	tab name="2: Edit " {
		pane {
			command "fish"
			args "-c" "broot-micro"
		}
	}

	tab name="3: Notes" split_direction="vertical" {
		pane {
			command "fish"
			args "-c" "nb ls && fish" // nb needs a .gitconfig in the home dir
		}

		pane {
			command "fish"
			args "-c" "note"
		}
	}
}
